@import url(~bootstrap/dist/css/bootstrap.min.css);
body {
  font: 14px "Lato", sans-serif;
  background: #EBEFF4; }

a {
  color: #000; }
  a:hover {
    text-decoration: none;
    color: #000; }

.modal-backdrop {
  background-color: #182F3D;
  opacity: .6; }

.feedback-modal {
  width: 300px; }
  .feedback-modal-stars {
    margin-bottom: 23px; }
  .feedback-modal-input {
    background: #F5F9FC;
    font: 14px "Lato", sans-serif;
    margin-bottom: 20px; }
  .feedback-modal-save {
    background: #54D0FF;
    border-radius: 6px;
    width: 100%; }
  .feedback-modal .MuiRating-label {
    margin-bottom: 0; }
  .feedback-modal .modal-header {
    border: none;
    padding-bottom: 0; }
  .feedback-modal .modal-body {
    padding-top: 17px; }
  .feedback-modal .modal-title {
    font: bold 16px/21px "Lato", sans-serif;
    color: #354650;
    width: 200px; }
  .feedback-modal .close {
    padding: 8px 13px; }

/*# sourceMappingURL=FeedbackModal.css.map */