@import "../App";
.modal-backdrop{ background-color:#182F3D; opacity:.6; }
.feedback-modal{ width:300px;
  &-stars{ margin-bottom:23px; }
  &-input{ background:#F5F9FC; font:14px $lato; margin-bottom:20px; }
  &-save{ background:#54D0FF; border-radius:6px; width: 100%; }
  .MuiRating-label{ margin-bottom:0; }
  .modal-header{ border:none; padding-bottom:0; }
  .modal-body{ padding-top:17px; }
  .modal-title{ font:bold 16px/21px $lato; color:#354650; width:200px; }
  .close{ padding:8px 13px; }
}
