@import "../App";
.head-menu{ font: 14px $lato; height:60px; @include flex($justify:space-between, $align:center); position:fixed; left:70px; top:0; right:0; background:#fff; z-index:2; box-shadow:0 1px 1px rgba(0, 0, 0, .1); white-space:nowrap; padding:0 20px;
  &__left{ @include flex($align:center);
    &-link{ @include flex($align:center); margin-right:32px;
      &:before{ content:''; }
      &--back{ font: bold 13px $lato;
        &:before{ background:url("/img/Back-1.svg"); @include square(13px); margin-right:14px; }
      }
      &--kpi{
        &:before{ background:url("/img/Fulfillment-KPIs.svg"); @include size(18px, 14px); margin-right:10px; }
      }
    }
  }
  &__right{
    &-link{ @include flex($align:center);
      &:after{ content:''; @include size(8px, 5px); background:url("/img/Dropdown.svg"); margin-left:10px; }
    }
  }
  &__input{ @include size(155px !important, 35px); margin-right:32px;
    &-button{ background:url("/img/Go.svg"); @include size(40px, 35px); border:none; }
    &-form{ height:35px; font-size:13px; }
  }
}

