@import url(~bootstrap/dist/css/bootstrap.min.css);
body {
  font: 14px "Lato", sans-serif;
  background: #EBEFF4; }

a {
  color: #000; }
  a:hover {
    text-decoration: none;
    color: #000; }

.head-menu {
  font: 14px "Lato", sans-serif;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: fixed;
  left: 70px;
  top: 0;
  right: 0;
  background: #fff;
  z-index: 2;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  padding: 0 20px; }
  .head-menu__left {
    display: flex;
    justify-content: initial;
    align-items: center;
    flex-direction: row; }
    .head-menu__left-link {
      display: flex;
      justify-content: initial;
      align-items: center;
      flex-direction: row;
      margin-right: 32px; }
      .head-menu__left-link:before {
        content: ''; }
      .head-menu__left-link--back {
        font: bold 13px "Lato", sans-serif; }
        .head-menu__left-link--back:before {
          background: url("/img/Back-1.svg");
          width: 13px;
          height: 13px;
          margin-right: 14px; }
      .head-menu__left-link--kpi:before {
        background: url("/img/Fulfillment-KPIs.svg");
        width: 18px;
        height: 14px;
        margin-right: 10px; }
  .head-menu__right-link {
    display: flex;
    justify-content: initial;
    align-items: center;
    flex-direction: row; }
    .head-menu__right-link:after {
      content: '';
      width: 8px;
      height: 5px;
      background: url("/img/Dropdown.svg");
      margin-left: 10px; }
  .head-menu__input {
    width: 155px !important;
    height: 35px;
    margin-right: 32px; }
    .head-menu__input-button {
      background: url("/img/Go.svg");
      width: 40px;
      height: 35px;
      border: none; }
    .head-menu__input-form {
      height: 35px;
      font-size: 13px; }

/*# sourceMappingURL=HeadMenu.css.map */