@import "../App";
.dropdown-kebab{ background:url("/img/kebab-menu.svg") no-repeat 50%; @include size(3px, 15px); padding:0 11px; cursor:pointer;
  &:hover{ background-image:url("/img/kebab-menu-hover.svg"); }
  &-menu{ width:145px; background:#FFFFFF; border:1px solid #DBE5EB; box-sizing:border-box; box-shadow:0 5px 20px rgba(53, 70, 80, 0.2); border-radius:6px;
    .dropdown-item{ border:none; padding:10px 15px;
      &:first-child{ padding-top:15px; }
      &:last-child{ padding-bottom:17px; }
      &:hover{ background:none; color:#00B9FF; }
    }
  }
}
