@import url(~bootstrap/dist/css/bootstrap.min.css);
body {
  font: 14px "Lato", sans-serif;
  background: #EBEFF4; }

a {
  color: #000; }
  a:hover {
    text-decoration: none;
    color: #000; }

.dropdown-kebab {
  background: url("/img/kebab-menu.svg") no-repeat 50%;
  width: 3px;
  height: 15px;
  padding: 0 11px;
  cursor: pointer; }
  .dropdown-kebab:hover {
    background-image: url("/img/kebab-menu-hover.svg"); }
  .dropdown-kebab-menu {
    width: 145px;
    background: #FFFFFF;
    border: 1px solid #DBE5EB;
    box-sizing: border-box;
    box-shadow: 0 5px 20px rgba(53, 70, 80, 0.2);
    border-radius: 6px; }
    .dropdown-kebab-menu .dropdown-item {
      border: none;
      padding: 10px 15px; }
      .dropdown-kebab-menu .dropdown-item:first-child {
        padding-top: 15px; }
      .dropdown-kebab-menu .dropdown-item:last-child {
        padding-bottom: 17px; }
      .dropdown-kebab-menu .dropdown-item:hover {
        background: none;
        color: #00B9FF; }

/*# sourceMappingURL=KebabMenu.css.map */