@import url(~bootstrap/dist/css/bootstrap.min.css);
body {
  font: 14px "Lato", sans-serif;
  background: #EBEFF4; }

a {
  color: #000; }
  a:hover {
    text-decoration: none;
    color: #000; }

.left-menu {
  position: fixed;
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  width: 70px;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background: #264E66;
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }
  .left-menu__item {
    font: bold 12px "Lato", sans-serif;
    color: #FFFFFF;
    letter-spacing: -0.3px;
    text-align: center;
    margin: 0 auto 35px; }
    .left-menu__item:before {
      content: '';
      display: block;
      margin: 0 auto 9px; }
    .left-menu__item--logo {
      margin-bottom: 40px; }
      .left-menu__item--logo:before {
        width: 34px;
        height: 29px;
        background: url("/img/TrueCare24_logo.svg"); }
    .left-menu__item--dashboard:before {
      width: 30px;
      height: 17px;
      background: url("/img/Dashboard.svg"); }
    .left-menu__item--faq:before {
      width: 27px;
      height: 27px;
      background: url("/img/FAQ.svg"); }
    .left-menu__item--sign-out:before {
      width: 20px;
      height: 20px;
      background: url("/img/Sign-out.svg"); }
  .left-menu a:hover {
    color: #fff; }

/*# sourceMappingURL=LeftMenu.css.map */