@import "../App";
.left-menu{ position:fixed; @include flex($dir:column); @include size(70px, 100%); z-index:1; top:0; left:0; background:#264E66; overflow-x:hidden; padding-top:20px; box-shadow:0 2px 4px 0 rgba(0, 0, 0, .5);
  &__item{ font:bold 12px $lato; color:#FFFFFF; letter-spacing:-0.3px; text-align:center; margin:0 auto 35px;
    &:before{ content:''; display:block; margin:0 auto 9px; }
    &--logo{ margin-bottom:40px;
      &:before{ @include size(34px, 29px); background:url("/img/TrueCare24_logo.svg"); }
    }
    &--dashboard{
      &:before{ @include size(30px, 17px); background:url("/img/Dashboard.svg"); }
    }
    &--faq{
      &:before{ @include square(27px); background:url("/img/FAQ.svg"); }
    }
    &--sign-out{
      &:before{ @include square(20px); background:url("/img/Sign-out.svg"); }
    }
  }
  a:hover{ color:#fff; }
}
