@import url(~bootstrap/dist/css/bootstrap.min.css);
body {
  font: 14px "Lato", sans-serif;
  background: #EBEFF4; }

a {
  color: #000; }
  a:hover {
    text-decoration: none;
    color: #000; }

.main {
  position: relative;
  margin: 80px 20px 20px 90px;
  padding: 20px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

.table-header {
  font-size: 16px;
  color: #354650;
  letter-spacing: 0;
  line-height: 18px; }

/*# sourceMappingURL=Page.css.map */