@import url(~bootstrap/dist/css/bootstrap.min.css);
body {
  font: 14px "Lato", sans-serif;
  background: #EBEFF4; }

a {
  color: #000; }
  a:hover {
    text-decoration: none;
    color: #000; }

.table {
  margin-top: 18px; }
  .table thead {
    height: 25px; }
  .table tr td:last-child {
    width: 1%;
    white-space: nowrap; }
  .table th {
    font-size: 12px;
    color: #728B9B;
    letter-spacing: 0;
    line-height: 19px;
    background: #F4F7F9;
    padding-top: 3px;
    padding-bottom: 3px; }
  .table tr {
    color: #354650;
    letter-spacing: 0.09px;
    line-height: 23px; }
    .table tr:nth-of-type(even) {
      background: #F4F7F9; }
    .table tr:nth-of-type(odd) {
      background: #fff; }
  .table td {
    vertical-align: middle; }
  .table tr.cancelled {
    background: #FFEFF2; }

.type-icons {
  display: flex;
  justify-content: initial;
  align-items: center;
  flex-direction: row; }

.type-icon {
  content: '';
  margin-left: 20px; }
  .type-icon:first-child {
    margin-left: 0; }
  .type-icon--flag {
    background: url("/img/Contracted.svg");
    width: 14px;
    height: 18px; }
  .type-icon--noflag {
    background: url("/img/Non-Contracted.svg");
    width: 14px;
    height: 2px; }
  .type-icon--person {
    background: url("/img/IC.svg");
    width: 15px;
    height: 16px; }
  .type-icon--company {
    background: url("/img/Home-care-agency.svg");
    width: 14px;
    height: 17px; }

.button {
  width: 60px;
  height: 30px;
  color: #fff;
  font: bold 13px/18px "Lato", sans-serif;
  text-align: center;
  letter-spacing: 0.26px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  margin-right: 10px; }
  .button:focus {
    outline: none; }
  .button--chat {
    background: #54D0FF; }
    .button--chat:hover {
      background: #00B9FF; }
  .button--call {
    background: #29C581; }
    .button--call:hover {
      background: #00B063; }
  .button-cell {
    display: flex;
    justify-content: initial;
    align-items: center;
    flex-direction: row; }

/*# sourceMappingURL=ProvidersTable.css.map */