@import "../App";
.table{ margin-top:18px;
  thead{ height:25px; }
  tr td:last-child{
    width:1%;
    white-space:nowrap;
  }
  th{ font-size:12px; color:#728B9B; letter-spacing:0; line-height:19px; background:#F4F7F9; padding-top:3px; padding-bottom:3px;}
  tr{ color:#354650; letter-spacing:0.09px; line-height:23px;
    &:nth-of-type(even){ background:#F4F7F9; }
    &:nth-of-type(odd){ background:#fff; }
  }
  td{ vertical-align:middle; }
  tr.cancelled{ background:#FFEFF2; }
}
.type{
  &-icons{ @include flex($align:center); }
  &-icon{ content:''; margin-left:20px;
    &:first-child{ margin-left:0;}
    &--flag{ background:url("/img/Contracted.svg"); @include size(14px, 18px); }
    &--noflag{ background:url("/img/Non-Contracted.svg"); @include size(14px, 2px); }
    &--person{ background:url("/img/IC.svg"); @include size(15px, 16px); }
    &--company{ background:url("/img/Home-care-agency.svg"); @include size(14px, 17px); }
  }
}
.button{ @include size(60px, 30px); color:#fff; font:bold 13px/18px $lato; text-align:center; letter-spacing:0.26px; text-transform:uppercase; border:none; border-radius:4px; margin-right:10px;
  &:focus{ outline:none; }
  &--chat{ background:#54D0FF;
    &:hover{ background:#00B9FF; }
  }
  &--call{ background:#29C581;
    &:hover{ background:#00B063; }
  }
  &-cell{ @include flex($align:center); }
}
