@import url(~bootstrap/dist/css/bootstrap.min.css);
body {
  font: 14px "Lato", sans-serif;
  background: #EBEFF4; }

a {
  color: #000; }
  a:hover {
    text-decoration: none;
    color: #000; }

.star {
  width: 21px;
  height: 20px;
  margin-right: 9px; }
  .star-yellow {
    background: url("/img/Star-yellow.svg"); }
  .star-grey {
    background: url("/img/Star-grey.svg"); }

/*# sourceMappingURL=StarsRating.css.map */