@import "../App";
.dropdown-menu{ font:14px $lato; padding:0; left:-16px; top:-11px; }
.dropdown-item{ padding:14px 20px 12px 15px; border-bottom: 1px solid #C6D0D8;
  &:hover{ background:#F4F7F9; }
  &:last-child{ padding-bottom: 17px; border-bottom: none; }
}
.status{ @include flex($align:center);
  &:before{ content:''; margin-right:13px; width:22px; background-repeat:no-repeat; background-size:contain; background-position:center; }
  &-name{ cursor:pointer;
    &--underline{ border-bottom:1px dashed #B8C5CD; padding-bottom:2px; }
  }
  &--contacting{
    &:before{ background-image:url("/img/Contacting-0.svg"); height:14px; }
  }
  &--talked{
    &:before{ background-image:url("/img/Talked-to-the-client.svg"); height:16px; }
  }
  &--assessment{
    &:before{ background-image:url("/img/Assessment-scheduled.svg"); height:14px; }
  }
  &--signed{
    &:before{ background-image:url("/img/Contract-Signed.svg"); height:17px; }
  }
  &--cancel{
    &:before{ background-image:url("/img/Cancel-the-client.svg"); height:12px; }
  }
}
