@import url(~bootstrap/dist/css/bootstrap.min.css);
body {
  font: 14px "Lato", sans-serif;
  background: #EBEFF4; }

a {
  color: #000; }
  a:hover {
    text-decoration: none;
    color: #000; }

.dropdown-menu {
  font: 14px "Lato", sans-serif;
  padding: 0;
  left: -16px;
  top: -11px; }

.dropdown-item {
  padding: 14px 20px 12px 15px;
  border-bottom: 1px solid #C6D0D8; }
  .dropdown-item:hover {
    background: #F4F7F9; }
  .dropdown-item:last-child {
    padding-bottom: 17px;
    border-bottom: none; }

.status {
  display: flex;
  justify-content: initial;
  align-items: center;
  flex-direction: row; }
  .status:before {
    content: '';
    margin-right: 13px;
    width: 22px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  .status-name {
    cursor: pointer; }
    .status-name--underline {
      border-bottom: 1px dashed #B8C5CD;
      padding-bottom: 2px; }
  .status--contacting:before {
    background-image: url("/img/Contacting-0.svg");
    height: 14px; }
  .status--talked:before {
    background-image: url("/img/Talked-to-the-client.svg");
    height: 16px; }
  .status--assessment:before {
    background-image: url("/img/Assessment-scheduled.svg");
    height: 14px; }
  .status--signed:before {
    background-image: url("/img/Contract-Signed.svg");
    height: 17px; }
  .status--cancel:before {
    background-image: url("/img/Cancel-the-client.svg");
    height: 12px; }

/*# sourceMappingURL=StatusCell.css.map */