@mixin font($title, $path, $weight:normal, $style:normal){
  @font-face {
    font-family: $title;
    src: url($path) format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

@mixin transition($v:.3s){ transition:$v; }
@mixin size($w, $h){ width:$w; height:$h; }
@mixin square($s){ @include size($s, $s); }
@mixin max-size($w, $h){ max-width:$w; max-height:$h; }
@mixin min-size($w, $h){ min-width:$w; min-height:$h; }
@mixin max-square($s){ @include max-size($s, $s); }
@mixin min-square($s){ @include min-size($s, $s); }
@mixin flex($justify:initial, $align:initial, $dir:row){display:flex; justify-content:$justify; align-items:$align; flex-direction:$dir}
