@import "~bootstrap/dist/css/bootstrap.min.css";
@import "css/variables";
@import "css/mixins";
body{font:14px $lato; background:#EBEFF4; }
a{ color:#000;
  &:hover{ text-decoration:none; color:#000; }
}

